.Products ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
}

.Products{
    display: grid;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.input{
    display: flex;

}